{% extends 'base.html.twig' %}

{% block body %}

<div class="wrapper" style="display:flex; flex-direction: row; padding-top: 3rem; flex-wrap: wrap; justify-content:center;max-width: 1366px">
    <form>
        <div class="wrapper" style="display:flex; flex-direction: row; width:100vw; flex-wrap: wrap; justify-content:center">
            <div style="width: 100%;display:flex;justify-content:flex-end;margin-bottom:0.5rem;margin-right: 11rem">
                <select>
                    <option selected disabled hidden>Select Client</option>
                </select>
            </div>
    <div style="border: 1px solid #1221e1;width:40%; margin:0 5rem;display:flex;flex-direction:column;" id="users_data">
        <h2 style="border-bottom:1px solid blue"> User Data</h2>
        <div style="display:flex;align-items:center;flex-direction:column;justify-content:center;text-align:center;margin-top:0.5rem">
            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block; text-align:center" {% if settings.NIP is defined %} value="{{ settings.NIP }}"{% endif %}>
                <label class='form-label'>NIP</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block;text-align:center" {% if settings.NAME is defined %} value="{{ settings.NAME }}"{% endif %}>
                <label class='form-label'>Name</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block;text-align:center" {% if settings.STREET is defined %} value="{{ settings.STREET }}"{% endif %}>
                <label class='form-label'>Street</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block;text-align:center" {% if settings.ZIP_CODE is defined %} value="{{ settings.ZIP_CODE }}"{% endif %}>
                <label class='form-label'>Zip-Code</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block;text-align:center" {% if settings.CITY is defined %} value="{{ settings.CITY }}"{% endif %}>
                <label class='form-label'>City</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block;text-align:center" {% if settings.EMAIL is defined %} value="{{ settings.EMAIL }}"{% endif %}>
                <label class='form-label'>Email</label>
            </div>
        </div>

    </div>

    <div style="border: 1px solid #1221e1;width:40%;margin:0 5rem;">
        <h2 style="border-bottom:1px solid blue"> Clients Data</h2>
        <div style="display:flex;align-items:center;flex-direction:column;justify-content:center;text-align:center;margin-top:0.5rem">
            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>NIP</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>Name</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>Street</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>Zip-Code</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>City</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                <input style="display:block">
                <label class='form-label'>Email</label>
            </div>

        </div>
    </div>

            <div style="width: 100%;display:flex;justify-content:flex-end;margin:2rem 11rem 1rem 0">
                <select>
                    <option selected disabled hidden>Select Client</option>
                </select>
            </div>

    <div style="border: 1px solid #1221e1;width:86.5%;height:200px;margin:0 4.9rem 0.5rem 4.9rem;">
        <h2 style="border-bottom:1px solid blue"> Products Data</h2>
        <div style="display:flex;text-align:center;margin-top:0.5rem;margin-left: 0.5rem;justify-content:center">

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Product Name</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Net Price</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Tax Rate</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Creation Date</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Paid to</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Service Date</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Quantity</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Gross unit price</label>
            </div>

            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                <input style="display:block">
                <label class='form-label'>Total Gross Price</label>
            </div>

        </div>
    </div>
            <div style="width: 100%;display:flex;justify-content:flex-end;margin-right:11rem">
                <a href="#"> add product</a>
            </div>
            <button>Generate</button>
        </div>
    </form>
</div>



{% endblock %}