{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper"
         style="display:flex; flex-direction: row; padding-top: 3rem; flex-wrap: wrap; justify-content:center;">
        {{ form_start(invoice_form, {'method': 'POST'}) }}
        <div class="wrapper"
             style="display:flex; flex-direction: row; width:100vw; flex-wrap: wrap; justify-content:center">
            <div style="width: 100%;display:flex;justify-content:flex-end;margin-bottom:0.5rem;margin-right: 8rem">
                <select id="clientsListSelect">
                    <option selected disabled hidden>Select Client</option>
                    {% for client in clientsList %}
                        <option data-nip="{{ client.NIP }}" data-company-name="{{ client.COMPANY_NAME }}"
                                data-street="{{ client.STREET }}" data-zip-code="{{ client.ZIP_CODE }}"
                                data-city="{{ client.EMAIL }}" data-email="{{ client.EMAIL }}"
                                data-client-id="{{ client.ID }}"> {{ client.COMPANY_NAME }}</option>
                    {% endfor %}
                </select>
            </div>

            <div style="width: 100%;display: flex;justify-content:space-around">
                <div style="border: 1px solid #1221e1;width:40%;display:flex;flex-direction:column;"
                     id="users_data">
                    <h2 style="border-bottom:1px solid blue"> User Data</h2>
                    <div style="display:flex;align-items:center;flex-direction:column;justify-content:center;text-align:center;margin-top:0.5rem">
                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_NIP, {'attr': {'style': 'display:block; text-align:center','value': settings.NIP|default('')}}) }}
                            <label class='form-label'>NIP</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_NAME, {'attr': {'style': 'display:block; text-align:center','value': settings.NAME|default('')}}) }}
                            <label class='form-label'>Name</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_STREET, {'attr': {'style': 'display:block; text-align:center','value': settings.STREET|default('')}}) }}
                            <label class='form-label'>Street</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_ZIP_CODE, {'attr': {'style': 'display:block; text-align:center','value': settings.ZIP_CODE|default('')}}) }}
                            <label class='form-label'>Zip-Code</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_CITY, {'attr': {'style': 'display:block; text-align:center','value': settings.CITY|default('')}}) }}
                            <label class='form-label'>City</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.USER_EMAIL, {'attr': {'style': 'display:block; text-align:center','value': settings.EMAIL|default('')}}) }}
                            <label class='form-label'>Email</label>
                        </div>
                    </div>

                </div>

                <div style="border: 1px solid #1221e1;width:40%;">
                    <h2 style="border-bottom:1px solid blue"> Clients Data</h2>
                    <div style="display:flex;align-items:center;flex-direction:column;justify-content:center;text-align:center;margin-top:0.5rem"
                         id="clientsListData">
                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_NIP, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>NIP</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_NAME, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>Name</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_STREET, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>Street</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_ZIP_CODE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>Zip-Code</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_CITY, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>City</label>
                        </div>

                        <div style="display: flex;margin-top: 0.3rem;flex-direction:column">
                            {{ form_widget(invoice_form.CLIENT_EMAIL, {'attr': {'style': 'display:block; text-align:center'}}) }}
                            <label class='form-label'>Email</label>
                        </div>

                    </div>
                </div>
            </div>

            <div style="width:100%;display:flex; justify-content:center; padding-top:1rem">
                <h2 style="border-bottom:1px solid blue;text-align:center"> Dates Data</h2>
            </div>
            <div style="border: 1px solid #1221e1;width:90%;padding:0 4.9rem 0.5rem 4.9rem;">
                <div style="display:flex;text-align:center;margin-top:0.5rem;margin-left: 0.5rem;justify-content:center;align-items:center;">
                    <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                        {{ form_widget(invoice_form.Product.DATE_OF_ISSUE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                        <label class='form-label'>Creation Date</label>
                    </div>

                    <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                        {{ form_widget(invoice_form.Product.PAY_BY, {'attr': {'style': 'display:block; text-align:center'}}) }}
                        <label class='form-label'>Paid to</label>
                    </div>

                    <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                        {{ form_widget(invoice_form.Product.REALISED_ON, {'attr': {'style': 'display:block; text-align:center'}}) }}
                        <label class='form-label'>Service Date</label>
                    </div>
                </div>
            </div>

            <div style="width: 100%;display:flex;justify-content:flex-end;margin:0.5rem 8rem 1rem 0">
                <select>
                    <option selected disabled hidden>Select Client</option>
                </select>
            </div>

            <div style="width: 100%;display:flex;justify-content:center">
                <h2 style="border-bottom:1px solid blue"> Products Data</h2>
            </div>


            <div id="products-list" style="width: 90%;display:flex;justify-content:center;flex-direction:column;">

                <div style="width: 100%;display:flex;justify-content:flex-end;margin-right:8rem;margin-top: 0.5rem;margin-bottom: 0.5rem">
                    <button id="add-product-button"> add product</button>
                </div>
                <div>
                    <div style="border: 1px solid #1221e1;padding:0 4.9rem 0.5rem 4.9rem;" class="product-container">

                        <div style="display:flex;text-align:center;margin-top:0.5rem;margin-left: 0.5rem;justify-content:center">

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.PRODUCT_NAME, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Product Name</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.QUANTITY, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Quantity</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.NET_PRICE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Net Price</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                <input>
                                <label class='form-label'>Net value</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.TAX_RATE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Tax Rate</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.GROSS_UNIT_PRICE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Tax Value</label>
                            </div>

                            <div style="display: flex;margin-top: 0.3rem;flex-direction:column;margin-left: 1rem">
                                {{ form_widget(invoice_form.Product.TOTAL_GROSS_PRICE, {'attr': {'style': 'display:block; text-align:center'}}) }}
                                <label class='form-label'>Total Gross Price</label>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%;display:flex;justify-content:flex-end;margin:0.5rem 8rem 1rem 0">
                        <select>
                            <option selected disabled hidden>Select Client</option>
                        </select>
                    </div>
                </div>
            </div>
            <div style="width: 100%;display:flex;justify-content:center">
                {{ form_widget(invoice_form.submit, {'attr': {'style': 'display:block; text-align:center','value':'generate'}}) }}
            </div>
        </div>
        {{ form_end(invoice_form) }}
    </div>



{% endblock %}