{% extends 'base.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('products') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block body %}

    <div class="single-form-container">
        <h2 class="text-uppercase text-center mb-5">Edit Product</h2>

        {{ form_start(products_form, {'method': 'POST'}) }}
        <div class="form-outline mb-4">
            {{ form_widget(products_form.NAME, {'id': 'NAME','attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(products_form.NAME,null, {'label': 'Name', 'label_attr': {'class': 'form-label'}}) }}
            {% if errors.name is defined %}
                <div style="color: red">{{ errors.name }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(products_form.NET_PRICE, {'id': 'NET_PRICE','attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(products_form.NET_PRICE,null, {'label': 'Price', 'label_attr': {'class': 'form-label'}}) }}
            {% if errors.price is defined %}
                <div style="color: red">{{ errors.price }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(products_form.TAX_RATE, {'id': 'TAX_RATE','attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(products_form.TAX_RATE,null, {'label': 'Tax rate', 'label_attr': {'class': 'form-label'}}) }}
            {% if errors.taxRate is defined %}
                <div style="color: red">{{ errors.taxRate }}</div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center">
            {{ form_row(products_form.Create, {'label': 'Save', 'attr': {'class': 'btn btn-success btn-block btn-lg gradient-custom-4 text-body'}}) }}
        </div>

        {{ form_end(products_form) }}
    </div>

{% endblock %}