{% extends 'base.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('userAndClientsDataTemplates') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
{% block body %}

    <div class="single-form-container">
        <h2 class="text-uppercase text-center mb-5">User Settings</h2>
        {{ form_start(user_settings_form, {'method': 'POST'}) }}
        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.NIP, {'id': 'NIP','attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.NIP,null, {'label': ' Client Nip', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="nip-error">Nip must have exactly 10 numbers</div>
            {% if errors.nip is defined %}
                <div style="color: red">{{ errors.nip }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.NAME, {'id': 'NAME', 'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.NAME,null, {'label': 'Company Name', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="name-error">These field cannot be empty.</div>
            {% if errors.NAME is defined %}
                <div style="color: red">{{ errors.name }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.STREET, {'id': 'STREET', 'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.STREET,null, {'label': 'Street', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="street-error">These field cannot be empty.</div>
            {% if errors.street is defined %}
                <div style="color: red">{{ errors.street }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.ZIP_CODE, {'id': 'ZIP','attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.ZIP_CODE,null, {'label': 'Zip Code', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="zip-code-error">These field must match pattern 00-000.</div>
            {% if errors.zipCode is defined %}
                <div style="color: red">{{ errors.zipCode }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.CITY, {'id': 'CITY', 'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.CITY,null, {'label': 'City', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="city-error">These field cannot be empty.</div>
            {% if errors.city is defined %}
                <div style="color: red">{{ errors.city }}</div>
            {% endif %}
        </div>

        <div class="form-outline mb-4">
            {{ form_widget(user_settings_form.EMAIL, {'id': 'EMAIL', 'attr': {'class': 'form-control form-control-lg'}}) }}
            {{ form_label(user_settings_form.EMAIL,null, {'label': 'EMAIL', 'label_attr': {'class': 'form-label'}}) }}
            <div class="error-msg" id="email-error">These field cannot be empty.</div>
            {% if errors.email is defined %}
                <div style="color: red">{{ errors.email }}</div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-center">
            {{ form_row(user_settings_form.Submit, {'attr': {'class': 'btn btn-success btn-block btn-lg gradient-custom-4 text-body' }}) }}
        </div>

        {{ form_end(user_settings_form) }}
    </div>


{% endblock %}