{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="pt-4 d-flex justify-content-center align-items-center">
        {% if clientsData is defined%}
    <table class="table w-50">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NIP</th>
            <th scope="col">Company Name</th>
            <th scope="col">Street</th>
            <th scope="col">Zip Code</th>
            <th scope="col">City</th>
            <th scope="col">Email</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    <tbody>
        {% for clientData in clientsData %}
        <tr>
            <th scope="row"> {{ loop.index }} </th>
            <td> {{ clientData.NIP }}  </td>
            <td> {{ clientData.COMPANY_NAME }} </td>
            <td> {{ clientData.STREET }} </td>
            <td> {{ clientData.ZIP_CODE }} </td>
            <td> {{ clientData.CITY }} </td>
            <td> {{ clientData.EMAIL }} </td>
            <td> <a href="{{ path('update_client', {'id': clientData.ID}) }}">Edit</a></td>
            <td> <a href="{{ path('delete_client', {'id': clientData.ID}) }}">Delete</a></td>
        </tr>
    {% endfor %}
        </table>
        {% elseif msgEmptyList is defined%}
        {{ msgEmptyList|replace({" ": "&nbsp;"})|raw|nl2br }}  <a href="{{ msgLink }}"> here.</a>
        {% endif %}
    </div>

{% endblock %}